<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.translate 'http.error.404.title' %></title>
</head>
<body>
  <img src="img/chuck-norris.jpg" alt="Chuck Norris"/>
  <h3><%= I18n.translate 'http.error.404.title' %></h3>
  <b><%= I18n.translate 'http.error.404.message' %></b>
  <br/><br/>
  <a href="#" onclick="window.history.back();"><%= I18n.translate 'go_back' %></a>
</body>
</html>