<% if signed_user.has_permission? Rules::GROUP_CREATE_GROUP %>
<h4><%= I18n.translate 'view.user_dashboard.created_groups' %></h4>

<%= DataTable.new do |t|
  t.page_index = 1
  t.total = @signed_user.created_groups.size
  t.data = @signed_user.created_groups
  t.columns = [
    DataColumn.new(:title => 'Name', :ui => { :type => :link, :value => "/group/%{id}", :label => "%{name}" }, :width => 400)
  ]
end.render :id => 'dt_created_groups', :csrf_token => csrf_token %>

<hr/>

<% end %>

<h4><%= I18n.translate 'view.user_dashboard.subscribed_groups' %></h4>

<% form_tag url(:group, :unsubscribe), :method => :post, :id => 'form_unsubscribe' do %>
  <input type="hidden" name="group_id" id="group_id" value=""/>
  <input type="hidden" name="user_id" id="user_id" value=""/>

  <%= DataTable.new do |t|
    t.page_index = 1
    t.total = @signed_user.subscribed_groups.size
    t.data = @signed_user.subscribed_groups
    t.columns = [
      DataColumn.new(:title => 'Name', :ui => { :type => :link, :value => "/group/%{id}", :label => "%{name}" }, :width => 400),
      DataColumn.new(:ui => { :type => :input, :input_type => 'submit', :value => I18n.translate('unsubscribe'), :class => 'btn btn-info', :onclick => "setSubscribeParams('%{id}', '#{@signed_user.id}');" }, :width => 20)
    ]
  end.render :id => 'dt_subscribed_groups', :csrf_token => csrf_token %>
<% end %>

<script>
  function setSubscribeParams(gid, uid) {
    $('#group_id').val(gid);
    $('#user_id').val(uid);
  }
</script>