<div class="row">
  <div class="span10"><h2><%= ENV['APP_NAME'] %></h2></div>
  <div class="span2" align="right"><br/><a href="<%= url :sign_in %>" class="btn"><%= I18n.translate 'sign_in' %></a></div>
</div>

<hr/>

<% form_tag url(:authentication, :create_account), :method => :post, :id => 'form_create_account', :onsubmit => "return validateForm();" do %>
  <%= partial 'create_user_account' %>
<% end %>